@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
html{
  font-family: 'Barriecito', cursive;
}
ul{
  list-style: none;
  float: right;
}

li{
  display: inline-block;
}

.buttonEffect{
  text-decoration: none;
  color:white;
  background-color: black;
  border-radius: 2px;
  transition: .5s;
}

.buttonEffect:hover{
  background-color: green;
}

.name{
  color:red;
  text-decoration: underline;
}
