body{
	background-color: #563D7C;
}
.btn{
	/* border style can be 3 (solid, dahsed, dotted) */
	border: 1px solid #FFE484;
	/* background color transparent ment's no background */
	background-color: transparent;
	border-radius: 3px;
	/* color: ;  code for change text color*/
	color: #FFE484;
	height: 25px;
	width: 85px;
	transition: .3s;
}


.btn:hover{
	background:#FFE484;
	color:black;
}
.btn:active{
	border-color: red;
}